.image {
	margin: 0px auto;
	text-align: center;
}

.titleSmall {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;

	text-align: center;

	padding-top: 55px;
}

.subtitleSmall {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FCB500;

	text-align: center;

	margin-top: -15px;
}

.titleBig {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;

	color: #FFFFFF;

	text-align: center;
}

.subtitleBig {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;

	color: #FCB500;

	text-align: center;
	margin-top: -20px;
}

