.button {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	border: none;
	color: white;
	background: #111111;
	
}



@media(max-width: 1300px) {
	.button {
		padding: 20px 0px;
	}
	
}